/*  your css code here. If applicable */
#body{
	background-color:#f8f8f8;
}
.book{
margin:20px;
	background-color:#f8f8f8;
	
}
.book>h2,p{

	line-height:0px;
}
.book-library>header{
	text-align:center;
}
.price{
	background-color:rgb(46, 204, 113);
	color:rgb(255, 255, 255);
	text-align:center;
	border-radius:3px;
	border:none;
}
.auther{
	color:rgb(119, 119, 119);
}